<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SimpleBoard.sb.repository.mybatis.BoardMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into board (title,content,username,image_url,image_name,user_id,created_at)
        values (#{title},#{content},#{userName},#{imageUrl},#{imageName},#{userId},now())
    </insert>
    <select id="findAll" resultType="Board">
        select id,title,content,username,created_at as createdAt from board
    </select>
    <select id="findById" resultType="Board">
        select id,title,content,username as userName,image_url as imageUrl,image_name as imageName,created_at as createdAt,user_id as userId from board where id = #{id}
    </select>
    <select id="findPaginatedPosts" resultType="Board">
        SELECT id,title,username,created_at as createdAt FROM board
        ORDER BY created_at DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
    <select id="getTotalPosts" resultType="int">
        SELECT COUNT(*) FROM board;
    </select>
    <update id="update">
        update board
        set title=#{updateDto.title},
        content=#{updateDto.content}
        where id = #{id}
    </update>
    <delete id="delete">
        delete from board where id = #{id}
    </delete>
</mapper>