<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SimpleBoard.sb.repository.mybatis.BoardMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into board (title,content,username,image_url,image_name,user_id,created_at)
        values (#{title},#{content},#{userName},#{imageUrl},#{imageName},#{userId},now())
    </insert>

    <select id="findAll" resultType="Board">
        select id,title,content,username,created_at from board
    </select>
</mapper>