<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SimpleBoard.sb.repository.mybatis.ReplyMapper">
    <insert id="replyInsert" useGeneratedKeys="true" keyProperty="id">
        insert into reply (username,content,created_at,comment_id,board_id)
        values(#{userName},#{content},now(),${commentId},${boardId});
    </insert>

    <select id="findAll">
        select * from reply
        where  board_id = #{boardId} and
        comment_id = #{commentId}
    </select>
</mapper>