<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${post.title}">게시글 상세 페이지</title>
  <!-- 부트스트랩 링크 추가 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2nAh9BKTtLUAxhjUDDfgj1UyqEMlYmPD"
        crossorigin="anonymous">
</head>
<body class="container mt-4">

<div>
  <h1 th:text="${post.title}" class="mb-4"></h1>
  <p>작성자: <span th:text="${post.userName}"></span></p>
  <div th:if="${post.imageUrl != null}">
    <img th:src="${post.imageUrl}" alt="" style="width: 300px; height: 200px;">
  </div>
  <p th:text="${post.content}"></p>

  <!-- 게시글 수정 및 삭제 버튼 (작성자만 보임) -->
  <div th:if="${session.user.userName != null and session.user.userName == post.userName}" class="mt-3">
    <a th:href="@{/editPost/{postId}(postId=${post.id})}" class="btn btn-warning">수정</a>
    <a th:href="@{/deletePost/{postId}(postId=${post.id})}" class="btn btn-danger">삭제</a>
  </div>

</div>

<!-- 부트스트랩 스크립트 링크 추가 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-b1BauD9b/9dH/3ELD4+PXjhAMPtCfFOWg92Ce6A1lV7S4Dumf3B/Lz0ZG7WJfp1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2nAh9BKTtLUAxhjUDDfgj1UyqEMlYmPD"
        crossorigin="anonymous"></script>
</body>
</html>
